<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header :: header-css}"></div>
    <title>Spring Boot Thymeleaf + Spring Security</title>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container">

    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf + Spring Security</h1>
        <h2>1. Visit <a th:href="@{/admin}">Admin page (Spring Security protected, Need Admin Role)</a></h2>
        <h2>2. Visit <a th:href="@{/user}">User page (Spring Security protected, Need User Role)</a></h2>
    </div>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>